

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div * {
	transform: translateX(0%);
	transition-delay: 0s;
}
h1 {
	color: green;
}
@include sprites($spritesheet-sprites);